<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- <%=  token %> -->
  <div style="margin: 50px auto;text-align: center; background:gray; border-radius: 10px; width:300px; padding: 10px;">
    <h1 id="msg" style="margin: 50px auto; "></h1>
    <label for="">Genrate a Password here..</label> <br/>
    <input type="password" placeholder="enter a new password"  style=" border-radius: 6px;padding: 3px 8px"> <br/>
    <button type="submit" onclick="handleSubmit()"  style="background:green; margin: 5px; color: white; border-radius: 5px; padding: 3px 8px; ">submit</button>
     <button id="btn" onclick="handleNavigate()" style="background:blue; color: white; border-radius: 10px; padding: 8px 15px; " >Login</button>
  </div>
    

   <script>
    let btn  = document.getElementById('btn');
    btn.style.display = 'none'
    // Get the password field
    let password = document.querySelector('input');
    // console.log(password)
    let token = "<%=  token %>"; // replace this with actual token

   async function handleSubmit(){
        let value = password.value;
        // console.log(value)
        let res = await fetch(`http://localhost:8080/users/resetPassword/${token}`,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({newPassword: value})
        })
        let data = await res.json();
        // console.log(data)
        if(data.success){
            // alert("Password Reset Successfully")
            // window.location.href = "/login"
            document.getElementById('msg').innerHTML = data.msg
            btn.style.display = 'block'
        }else{
            document.getElementById('msg').innerHTML = data.msg
            
        }

    }
    const handleNavigate = ()=>{
        window.location.href = "http://localhost:5173/login"
 
    }

   </script>
</body>
</html>